[package]
name = "bootloader"
version = "0.1.0"
edition = "2024"

[unstable]
build-std = ["core", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]

[build]
target = "i386-unknown-none.json"


[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
